.room-list {
  background: #f4f6f8;
  min-height: 100vh;
  //padding: 24px 0;
  padding-left: 220px;

  .room-list-title {
    font-size: 1.95rem;
    position: relative;
    top: 130px;
    color: #4c445d;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: -14px;
  }

  .title-center {
    text-align: center;
    margin-left: 0;
  }

  .title-left {
    margin-left: 80px;
    text-align: left;
    position: relative;
    top: 60px;
  }
}

.new-options {
  display: flex;
  gap: 16px;
  position: relative;
  bottom: 30px;
}

.room-list-filter-options {
  display: flex;
  gap: 16px;
  position: relative;
  bottom: 30px;

  label {
    font-size: 0.9rem;
    color: #333;
  }

  .room-list-select {
    width: 160px;
    height: 40px;
    font-size: 0.9rem;
    position: relative;
    bottom: 30px;
    top: 18px;
  }
}

.room-table-wrapper {
  overflow-x: auto;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  position: relative;
  //bottom: 35px;
  position: relative;
  top: -10px;
}

.room-table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  background: #fff;

  thead {
    tr {
      height: 45px;
    }
  }

  th,
  td {
    padding: 4px 8px;
    min-width: 90px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 14px;
  }

  td {
    background-color: #fff;
  }

  th {
    background-color: #fff;
    font-weight: 600;
    color: #333;
  }

  tr:hover {
    background-color: #f4f6f8c9;
  }
}

.fa-solid fa-trash {
  color: #ffb5b5;
  background-color: #ffb5b5;
}

.room-list-btns {
  position: relative;
  bottom: 7px;
}

.icon-block,
.icon-unblock {
  color: blue;
}

.icon-unblock-r,
.icon-block-r {
  margin-top: 3px;
  color: blue;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 13px;
}

.room-list-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 32px;
  flex-wrap: wrap;

  .left-section,
  .right-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .right-section-receptionist {
    padding-left: 980px;
  }

  .right-section {
    align-items: flex-end;
  }

  .room-list-filter-options-receptionist {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex: 1;
    padding-left: 1060px;
  }
}

.room-list-pagination-wrapper {
  position: relative;
  top: -1rem;
}

.receptionist-offset {
  margin-left: 1035px;
  position: relative;
  top: -15px;
}

.filter-select-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.room-list-search-options {
  position: relative;
  /* top: 24px; */
  width: fit-content;
  bottom: 68px;
  right: 170px;
}

.search-room {
  background-position: right 8px center;
  background-repeat: no-repeat;
  /* border: 1px solid #e1e4e8; */
  border-radius: 6px;
  color: #000;
  font-size: 14px;
  height: 41px;
  line-height: 20px;
  padding: 5px 9px 5px 40px;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ccc;

  .input-wrapper i {
    position: absolute;
    top: 13px;
    left: 12px;
    color: #666;
    font-size: 1rem;
    pointer-events: none;
  }
}

.room-note {
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  bottom: 0.7rem;

  &:hover {
    color: #00000076;
  }
}

.modal-dialog.unblock-room-dialog {
  .modal-content {
    border-radius: 16px !important;
    padding: 1.25rem;
    background: #fff;
  }

  .modal-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.7rem;

    .modal-title {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  .modal-body {
    p {
      color: #333;
      margin-bottom: 1rem;
    }
    .modal-reason {
      background: #f2f4f7;
      padding: 0.75rem 1rem;
      border-radius: 4px;
      font-style: italic;
    }
  }
}

.room-table-wrapper-receptionist {
  position: relative;
  top: -60px;
}

.room-list-pagination-wrapper-receptionist {
  position: relative;
  top: -4rem;
}

.room-list-search-options {
  position: relative;
  width: fit-content;
  bottom: 68px;
  right: 170px;

  .input-wrapper {
    position: relative;
    display: inline-block;
  }

  .input-wrapper .input {
    padding-left: 2.5rem;
  }

  .input-wrapper .input-wrapper-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
    font-size: 1rem;
  }
}
