.main-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f8;
}

.main-layout-border {
  padding: 24px 32px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 24px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid #d9dfc6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    .double-form & {
      max-width: 800px;
    }
  }
}
