.add-room-main-container {
  padding-left: 220px;
}

.add-room-form {
  display: flex;
  gap: 26px;

  @media screen and (max-width: 768px) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    // desktop
    flex-direction: row;
  }
}

.submitButton {
  margin-top: 30px;
}

.add-room-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .submitButton {
    margin-top: 24px;
  }
}
.add-room-header {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #4c445d;
  margin-top: 8px;
}

.add-room-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .picture-div {
    position: relative;
    top: 15px;
  }

  .file-group {
    position: relative;
    top: 10px;
  }

  .feature-group,
  .file-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

label {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 2px;
}
