
.submit-btn {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
    margin-bottom: 20px
};
