
.events-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
  
.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}
  
.no-events {
    font-size: 1.2rem;
    color: #777;
}
  
  
.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}
  
.event-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
  
.event-card:hover {
    transform: translateY(-5px);
}
  
.event-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}
  
.event-info {
    padding: 15px;
    text-align: left;
}
  
.event-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #222;
}
  
.event-meta {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}
  
.event-description {
    font-size: 1rem;
    margin-bottom: 10px;
}
  
  