.adminReviewsContainer {
  //margin: 2rem auto;
  padding: 0 1rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  min-height: 100vh;

  background: #f4f6f8;
  padding-left: 220px;

  h1 {
    color: #5c5470;
    font-size: 1.65rem;
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
    top: 60px;
    font-weight: bold;
  }

  .empty {
    text-align: center;
    color: #666;
    font-style: italic;
  }

  .reviewList {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 25px;

    .reviewItem {
      background: #fff;
      margin: 1rem auto;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      padding: 1rem 1.2rem;
      margin-bottom: 1rem;
      transition: transform 0.2s ease;
      width: 65%;
      position: relative;
      top: 90px;

      &:hover {
        transform: translateY(-2px);
      }

      .topRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;

        .ratingRow {
          display: flex;
          align-items: center;
          gap: 0.4rem;

          .ratingValue {
            font-size: 0.9rem;
            color: #444;
          }
        }

        .countryDisplay {
          display: flex;
          align-items: center;
          gap: 0.4rem;

          .flag {
            border: 1px solid #ccc;
            border-radius: 2px;
          }
          .country {
            font-size: 0.9rem;
            color: #666;
          }
        }
      }

      .body {
        font-size: 0.95rem;
        line-height: 1.5;
        color: #555;
        margin-bottom: 1rem;
      }

      .footerRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.85rem;
        color: #777;

        .deleteBtn {
          background: transparent;
          border: none;
          color: #c53030;
          cursor: pointer;
          padding: 0.2rem;
          transition: color 0.2s ease;

          &:hover {
            color: #a82a2f;
          }
        }
      }
    }
  }
}

.admin-reviews-pagination {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
