.input-wrapper {
  position: relative;
  width: 100%;

  i {
    position: absolute;
    top: 20px;
    left: 14px;
    color: #666;
    font-size: 1rem;
    pointer-events: none;
  }
}

.input {
  padding: 9px 16px 9px 40px;
  height: 56px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
  width: 100%;

  &:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
}
