.reservationContainer {
  font-family: "Roboto", sans-serif;
  background: #f4f6f8;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.bookingForm {
  background: #0000;
  box-sizing: border-box;
  flex: 3 1 400px;
  margin: 1rem;
  max-width: 800px;
  padding: 2rem;
  position: relative;
  left: 95px;

  p {
    font-size: 16px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .checkIn,
  .checkOut {
    margin-bottom: 10px;
    font-size: 14px;

    label {
      display: block;
      font-weight: bold;
      color: rgb(57 56 56 / 63%);
      margin-bottom: 10px;
      margin-left: -2px;
    }
  }

  .checkIn,
  .checkOut {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    font-weight: 700;
    padding: 10px;
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4c445d;
  }

  .checkIn {
    margin-right: 4%;
  }

  .counterBaby {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 0.1rem;

    .textPart {
      display: flex;
      flex-direction: column;
    }

    h5 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      margin-top: 2.8rem;
    }

    p {
      font-size: 12px;
      margin-top: 0.5rem;
      color: #51486a;
      border-radius: 5px;
      height: 50px;
      /* text-align: center; */
      width: 200px;
      /* margin-top: auto; */
      font-size: 0.9rem;
    }

    input {
      height: 46px;
      margin-left: 6.5rem;
      width: 22%;
      margin-right: 6rem;
      margin-top: 1.5rem;
    }
  }
  .mealPlan {
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;
    gap: 0.3rem;

    p {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .checkbox-group {
      gap: 2.5rem;
    }
  }

  .adults {
    background-color: #fff;
    border-radius: 5px;
    color: rgb(30 30 30 / 64%);
    display: inline-block;
    font-weight: 700;
    margin-top: 1.9rem;
    padding: 12px;
    width: 62%;
  }

  .submitBtn {
    margin-left: 9rem;
  }
}

.paymentForm {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  flex: 1 1 400px;
  /* margin-top: 3rem; */
  max-width: 700px;
  padding: 2rem;
  position: relative;
  right: -30px;
  width: 800px;
}

.meals-checkbox {
  margin-right: 420px;
}

.submitButton.check-price {
  width: 450px;
  position: relative;
  right: 25%;
  top: 15px;

  border-radius: 23px;
}
