.add-event-main-container {
  padding-left: 220px;
}

.add-event-form {
  display: flex;
  gap: 16px;

  @media screen and (max-width: 768px) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    // desktop
    flex-direction: row;
  }

  & h3 {
    font-size: 1rem;
    color: #4c445d;
    text-align: center;
    position: relative;
    top: 15px;
  }
}

.submitButton {
  margin-top: 24px;
}

.add-event-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .submitButton {
    margin-top: 24px;
  }
}
.add-event-header {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #4c445d;
  margin-top: 8px;
}

.add-event-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.add-event-add-picture {
  position: relative;
  bottom: 14px;
}
